@function toRem($value) {
    @return ($value / 16) + rem;
}

@function clampBuilder(
    $minViewportWidth,
    $maxViewportWidth,
    $minFontSize,
    $maxFontSize
) {
    $minWidthMinimum: $minViewportWidth / 100;
    $minFontSizeInRem: $minFontSize / 16;
    $sizeDifference: $maxFontSize - $minFontSize;
    $widthDifference: $maxViewportWidth - $minViewportWidth;
    $sizeCalc: 100 * ($sizeDifference / $widthDifference);
    @return clamp(
        #{$minFontSize}px,
        calc(
            #{$minFontSizeInRem}rem +
                ((1vw - #{$minWidthMinimum}px) * #{$sizeCalc})
        ),
        #{$maxFontSize}px
    );
}
